<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name='description' content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel='canonical' href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel='alternate' type='application/rss+xml' title='{{ site.title }}' href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Volkhov:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  <!-- Schmea JSON-LD-->
<script type='application/ld+json'>
{
  "@context": "http://www.schema.org",
  "@type": "person",
  "name": "Alexander O. Smith",
  "jobTitle": "Academic Researcher",
  "url": "https://www.alexanderosmith.com/",
  "sameAs": [
     "https://twitter.com/alexander0wen",
     "https://facebook.com/aos11409",
     "https://github.com/alexanderosmith",
     "https://instagram.com/alexander__owen",
     "https://in.linkedin.com/in/aos11409",
     "https://orcid.org/0000-0002-3719-2232",
     "https://www.researchgate.net/profile/Alexander-Smith-10",
     "https://scholar.google.com/citations?user=Q5gAz1IAAAAJ&hl=en&oi=ao"
     "https://hcommons.social/@aosmith",
     "https://bsky.app/profile/alexander0wen.bsky.social"
  ],
  "image": "https://www.alexanderosmith.com/images/profile_PaigesPhoto_crop1.png",
  "address": {
     "@type": "PostalAddress",
     "streetAddress": "343 Hinds Hall, Syracuse University iSchool",
     "addressLocality": "Syracuse",
     "addressRegion": "NY",
     "postalCode": "13244",
     "addressCountry": "USA"
  },
  "email": "aosmith@syr.edu",
  "alumniOf": [
     {
       "@type": "EducationalOrganization",
       "name": "Syracuse University iSchool",
       "url": "https://ischool.syr.edu/"
     },
     {
       "@type": "EducationalOrganization",
       "name": "Georgia State University",
       "url": "https://www.gsu.edu/"
     },
      {
        "@type": "EducationalOrganization",
        "name": "University of West Georgia",
        "url": "https://www.westga.edu/"
      }
  ],
  "colleague": [
     "https://adamdjbrett.com/",
     "https://ischool.syracuse.edu/jeff-hemsley/"
  ]
}
</script>
  <!--SEO-->
  {% seo %}
  <style>
    {% capture include_to_scssify %}
      {% include main.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
  </style>
</head>
